@font-face {
  font-family: 'Source Sans Pro';
  src: url(../public/SourceSans3-VariableFont_wght.ttf);
}


body{
  background-color: #EFF;
  font-family: "Source Sans Pro";
  margin: 0;
}

.container{
  width: 375px;
  margin: 0 auto;
  background-color: #FFF;
  box-sizing: border-box;
}

#header-container{
  padding: 0 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #AAA;
}

#logo{
  width: 150px;
  object-fit: contain;
}

#user-photo, .poster-profile-pic{
  border-radius: 100%;
  width: 40px;
  height: fit-content;
  object-fit: contain;
}

.post{
  display: flex;
  flex-direction: column;
  justify-content: start;
  border-bottom: 20px solid #f0f0f0;
}

.post:nth-last-of-type(1) {
  border-bottom: 5px solid #f0f0f0;
}

.post-header{
  height: 40px;
  display: flex;
  justify-content: start;
  padding: 5px 10px;
  align-items: center;
}

h2, h3{
  margin: 0 10px;
  line-height: 16px;
}

h2{
  font-size: .9rem;
  font-weight: 700;
}

h3{
  font-size: .8rem;
  font-weight: 400;
}

.actions{
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 12.5px 5px 0px 15px;
  height: 40px;
}

.like, .comment, .message{
  object-fit: contain;
  width: 35px;
  margin-right: 15px;
  cursor: pointer;
}

.drop-shadow:hover{
  filter: drop-shadow(0px 0px 2px rgb(211, 206, 206));
}

.like{
  width: 33px;
  height: 33px;
  margin-right: 15px;
  background-image: url(../images/icon-heart.png);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.post-info{
  padding: 0px 18px;
  margin: 5px 0 15px 0;
}

.likes{
  margin: 0;
}

.username{
  width: fit-content;;
  margin: 0px;
}

.comment{
 font-weight: 400;
}

/* Utility Classes */

.column{
  display: flex;
  flex-direction: column;
}
