@font-face {
  font-family: 'Source Sans Pro';
  src: url(../public/SourceSans3-VariableFont_wght.ttf);
}

body{
  background-color: #EFF;
  font-family: "Source Sans Pro";
}

.container{
  width: 375px;
  margin: 0 auto;
  background-color: #FFF;
  box-sizing: border-box;
}

#header-container{
  padding: 0 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #AAA;
}

#logo{
  width: 150px;
  object-fit: contain;
}

#user-photo, .poster-profile-pic{
  border-radius: 100%;
  width: 40px;
  height: fit-content;
  object-fit: contain;
}

.post{
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.post-header{
  display: flex;
  justify-content: start;
  padding: 5px 10px;
  align-items: center;
}

h2, h3{
  margin: 0 10px;
  line-height: 16px;
}

h2{
  font-size: .9rem;
  font-weight: 700;
}

h3{
  font-size: .8rem;
  font-weight: 400;
}

.actions{
  display: flex;
  justify-content: start;
  padding: 12.5px 5px 0px 5px;
}

.like, .comment, .message{
  object-fit: contain;
  width: 35px;
  margin-right: 15px;
  cursor: pointer;
}

.like{
  width: 45px;
  margin-right: 10px;
}

.like:active, .like:hover{
  content: url(images/red-heart-icon2.svg);
  /* width: 33px;
  padding-right: 2px; */
}

.post-info{
  padding: 0px 18px;
}

.likes{
  margin: 0;
}

.username{
  display: block;
  margin: 0px;
}

.inner-post-container{
  display: flex;
  align-items: center;
  margin: 5px 0 15px 0;
  gap: 5px;
}

p{
  margin: 0;
}

/* Utility Classes */

.column{
  display: flex;
  flex-direction: column;
}
